snippet comment
	<%-- ${1} --%>
snippet page
	<%@ page ${1}="${2}" %>
snippet include
	<%@ include ${1}="${2}" %>
snippet declaration
	<%! ${1} %>
snippet scriptlet
	<% ${1} %>
snippet expression
	<%= ${1} %>

